.mynav {
	color: #fff;
}

.mynav li a {
	color: #fff;
	text-decoration: none;
	width: 100%;
	display: block;
	border-radius: 5px;
	padding: 8px 5px;
}

.mynav li a.active {
	background: rgba(255, 255, 255, 0.2);
}

.mynav li a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.mynav li a i {
	width: 25px;
	text-align: center;
}

.menu-container{
  width: max-content;
    height: 100%;
}
